.content-background, .content-background-2 {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.1rem;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0,0,0, 0.5);
}

.content-background {
    background-color: rgba(197, 245, 253, 0.77)
}

.content-background-2 {
    background-color: #c8f4af;
}

.content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;  
    padding: 1rem;
}

.content-wrapper-text
 {
    margin-top: 1rem;
    color: rgb(0, 0, 0);
} 

.content-wrapper {
    padding-top: 1.3rem;
    padding-bottom: 2.5rem;
}
.service {
    padding: 1rem 2rem;
    background-color: #72acf75e;
    border-radius: 200px;
    list-style: none;
    text-align: center;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform .2s, box-shadow .3s;
}

.service:hover {
    box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.services-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
    flex-shrink: 0;
    gap: 20px;
}

.list-element  {
    
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
    line-height: 2rem;
}

.location-icon {
    max-width: 250px;
    margin: auto;
    padding: 0;
}

.pricing-icon {
    max-width: 250px;
    margin: auto;
    padding: 0;
}

.list-icon {
    max-width: 140px;
    margin: auto;
    padding: 0;
    margin-top: -60px;
}

.icon-holder {
    display: flex;
    flex: 1;
}

.grid-box-location {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    
}

.grid-box-pricing {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}

#nav-to-contact:hover { 
    cursor: pointer;
    color: grey;
}

.reg-item {
    margin-left: 2rem;
    text-indent: -1.2rem;
    padding-left: 1.2rem;
  }

  .reg-list {
    padding-left: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    list-style-position: outside;
  }
  
  .reg-list li {
    margin-bottom: 0.4rem;
    line-height: 1.8rem;
    font-size: 1.05rem;
  }

  .contact-me {
    background-color: rgb(240, 240, 240);
    color: black;
    align-items: center;
    display: inline-flex;
    text-align: center;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    transition: transform .4s, background-color .4s;
    font-size: 1.2rem;
    box-shadow: 1px 2px 3px rgba(0,0,0, 0.25);
}

.whatsapp-icon, .phone-icon, .facebook-icon, .gmail-icon {
    width: 35px;
    padding-left: 1rem;
    padding-right: 0.8rem;
}

.facebook-icon {
    width: 27px;
}

.phone-icon {
    width: 30px;
}

.contact-me:hover {
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    transform: scale(1.1);
}

.contact-links {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}


@media (max-width: 768px) {
    .content-background, .content-background-2 {
        min-width: 6%;
        max-width: 85vw;
        padding: 0.01rem;
        margin-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .content {
        padding: 3rem;
    }
    .grid-box-location, .grid-box-pricing {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    
    .location-icon, .pricing-icon, .list-icon {
        width: 30%;
    }

    .icon-holder {
        grid-row-start: 1;
    }
    
    .services-list {
        gap: 10px;
    }

    .service {
        padding: 1rem 2rem;
    }

    .contact-me:hover {
    
        transform: scale(1.05);
}

    .contact-me {
        margin-left: 1rem;
    }

}