
body {
    margin: 0;
    font-family: 'Roboto', 'Noto Sans';
    background-color: white;
}

.background-break {
    background-image: url("../images/background.png");
    min-height: 40vh;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 1px 2px 10px rgba(0,0,0, 0.5);
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}



